@media screen and (min-width: 435px){
    .Container{
        width: 70%;
    }
    
    .backgroundImg{
        position: relative;
    }

    .title{
        font-size: 35px;
    }
    .sub{
        font-size: 20px;
    }

    .text{
        font-size: 1.2vw;
    }

    .button{
        opacity: 0.5;
    }

    .button:hover{
        opacity: 1;
        transition: .5s ease;
    }
}